* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

/* NAV STYLES START */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 20px 50px;
    background-color: #212a33;
}

header h1 {
    width: 300px;
    font-size: 35px;
    padding: 5px 0px;
    margin: 0px 0px 0px -50px;
    background-color: #77bac7;
}

header ul {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

header ul li a {
    padding: 5px;
    text-decoration: none;
    color: #77bac7;
    font-size: 25px;
    line-height: 1.5;
    border-bottom: 3px solid #77bac7;
}

header ul li a:hover {
    background: #77bac7;
    color: #212a33;
    transition-duration: 0.5s;
}

/* HERO STYLES START */

.hero {
    position: relative;
    height: 400px;
    background-image: url(./images/handdrawn.jpg);
    background-position: right;
    background-size: cover;
}

.hero h2 {
    position: absolute;
    bottom: 35px;
    right: 50px;
    padding: 5px 10px;
    font-size: 30px;
    background-color: #77bac7;
    color: #212a33;
    box-shadow: 3px 3px 8px;
}

/* MAIN STYLES START */

main {
    background-color: #e6f7fa;
}

/* ABOUT ME STYLES START */

.about-me, .work, .contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #212a33;
}

.title {
    text-align: center;
    width: 50%;
    padding: 5px;
    margin: 0 auto;
    font-size: 35px;
    border-bottom: 3px solid #212a33;
}

.about-me p {
    padding: 15px 80px;
    font-size: 18px;
    line-height: 1.3;
}

/* WORK STYLES START */

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card {
    position: relative;
    height: 400px;
    width: 700px;
    border: 3px solid #77bac7;
    margin: 15px 20px;
    overflow: auto;
}

.card h3 {
    position: absolute;
    bottom: 30px;
    padding: 10px 15px;
    background-color: #77bac7;
    font-size: 25px;
    color: #212a33;
}

.subtitle {
    font-size: 16px;
    font-weight: lighter;
}

.run-buddy {
    background-image: url(./images/run-buddy.jpg);
    background-position: bottom right;
    background-size: cover;
}

.run-buddy:hover {
    background-image:
    linear-gradient(to bottom, rgba(230, 218, 179, 0.25), rgba(230, 218, 179, 0.5)),
    url('./images/run-buddy.jpg');
}

.circuit {
    background-image: url(./images/circuit.jpg);
    /* Photo by Alexandre Debiève on Unsplash */
    background-size: cover;
}

.circuit:hover {
    background-image:
    linear-gradient(to bottom, rgba(230, 218, 179, 0.25), rgba(230, 218, 179, 0.5)),
    url('./images/circuit.jpg');
}

.matrix {
    background-image: url(./images/matrix.jpg);
    /* Photo by Markus Spiske on Unsplash */
}

.matrix:hover {
    background-image:
    linear-gradient(to bottom, rgba(230, 218, 179, 0.25), rgba(230, 218, 179, 0.5)),
    url('./images/matrix.jpg');
}

.server {
    background-image: url(./images/server.jpg);
    /* Photo by Matthieu Beaumont on Unsplash */
}

.server:hover {
    background-image:
    linear-gradient(to bottom, rgba(230, 218, 179, 0.25), rgba(230, 218, 179, 0.5)),
    url('./images/server.jpg');
}

.mixer {
    background-image: url(./images/mixer.jpg);
    /* Photo by Alexey Ruban on Unsplash */
    background-size: cover;
}

.mixer:hover {
    background-image:
    linear-gradient(to bottom, rgba(230, 218, 179, 0.25), rgba(230, 218, 179, 0.5)),
    url('./images/mixer.jpg');
}

/* CONTACT ME STYLES START */

.contacts {
    font-size: 25px;
    padding: 15px 0;
    text-align: center;
}

.contacts li {
    padding: 10px;
}

.contacts li a {
    padding: 5px;
    text-decoration: none;
    color: #212a33;
    border-bottom: 3px solid #212a33;
}

.contacts li a:hover {
    background-color: #212a33;
    color: #e6f7fa;
    transition-duration: 0.5s;
}

/* MEDIA QUERIES START */

@media screen and (min-width: 768px) {
    /* Breaks Nav into a single line */
    header {
        flex-direction: row;
    }

    header ul li a {
        margin: 5px;
    }


@media screen and (min-width: 980px) {
    /* Breaks out into two-column layout */
    .about-me, .work, .contact-me, .cards {
        flex-direction: row;
    }

    .title {
        width: 25%;
        border-bottom: none;
        border-right: 3px solid #212a33;
        margin: 20px 0;
        padding: 0px 20px;
        text-align: right;
    }

    .work .title {
        padding: 0px 20px 750px 20px;
    }

    .cards {
        flex-wrap: wrap;
        align-items: center;
    }

    .card {
        width: 40%;
        height: 200px;
    }

    .run-buddy {
        width: 85%;
        height: 400px;
    }
    
    .contacts ul {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }
}